/* GLOBAL THEME */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: dark;
  background-color: #0f0f14;
  color: #ffffff;
}

/* RESET */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #0f0f14;
  color: white;
  padding-bottom: 120px;
    max-width: 100%;
  overflow-x: hidden;
}

/* LINKS */

a {
  color: #7b61ff;
  text-decoration: none;
}

a:hover {
  color: #9b85ff;
}

/* BUTTONS */

button {
  background: #1b1b25;
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #2a2a3a;
}
